# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# 忽略依赖文件夹
node_modules/

# 忽略打包产物
dist/

# 忽略环境变量配置
.env

# 忽略 macOS 或 VSCode 生成的临时文件（可选）
.DS_Store
.vscode/
